<div class="jumbotron">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Enter Values</p>
  <hr class="my-2">

  <div class="form-group">
    <label for="usr">Enter value A:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="valueA">
  </div>
  <div class="form-group">
    <label for="usr">Enter value B:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="valueB">
  </div>

  <p class="lead">
    <a class="btn btn-primary btn-lg m-1" (click)="add()">Addition <span class="badge">{{ValueAdd}}</span></a>
    <a class="btn btn-primary btn-lg m-1" (click)="sub()">Subtraction <span class="badge">{{ValueSub}}</span></a>
    <a class="btn btn-primary btn-lg m-1" (click)="mul()">Multiplication <span class="badge">{{ValueMul}}</span></a>
    <a class="btn btn-primary btn-lg m-1" (click)="div()">Division <span class="badge">{{ValueDiv}}</span></a>
    <a class="btn btn-primary btn-lg m-1" (click)="mod()">Modular function <span class="badge">{{ValueMod}}</span></a>

  </p>

  <p class="lead">
    <a class="btn btn-secondary btn-lg m-1" (click)="calc()">Calculate</a>
    <a class="btn btn-danger btn-lg m-1" (click)="reset()">Reset</a>

  </p>




</div>
